@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.placeholder-absolute{
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 12px;
  padding: 2px 4px;
  background-color: #fff;
  z-index: 1;
}
select, input, .relative > #dateToShip{
  border: 1px solid #c2bcbc;
  /* padding:  1 !important; */
}
#matchEvent{
color:#4D5383;
font-weight: 600;
-webkit-appearance: none;
}

.spacing-y{
padding-top: 0.75rem;
padding-bottom: 0.75rem;
}

.vertical-line {
  width: 1px; /* The thickness of the line */
  height: 20px; /* The length of the line */
  background-color: #DADBE5; /* The color of the line */
}

.vertical-line-div {
  width: 1px; /* The thickness of the line */
  height: 45px; /* The length of the line */
  background-color: #DADBE5; /* The color of the line */
}


#matchEvent, #dateToShip, #dateToShip:focus{
  border: 1px solid transparent;
  outline: none;
}
.border-focus:focus{
  outline: none;
}
.flex-wrap{
  flex-wrap: wrap;
  column-gap: 10px;
}
.border-end{
  border-right: 1px solid #c2bcbc;
}
.input-padding-left{
  padding-left: 50px !important;
}
.logo-left{
  left: 35px;
}
select{
  padding-left: 5px !important;
  padding-right: 10px !important;
}
.custom-table-header-width{
  width: 412px;
}
.border-none{
  border-right: 1px solid #423283;
  
  }
@media (max-width: 600px) { 
  .custom-table-header-width {
    width: 212px !important;
  }
  .border-none{
  border: none;
  }
}

@media (max-width: 800px) { 

  .border-none{
  border: none;
  }
}
input[type="checkbox"]{
  background-color: gray;
}
tr th:nth-child(3),
tr th:nth-child(5){
  width: 50px;
}
input,
select{
  border: 1px solid #c2bcbc;
}
input:focus,
select:focus{
  border: 1px solid #000;
}
.hide-scrollbar::-webkit-scrollbar{
  display: none !important;
}
.capitalize-first{
  text-transform: capitalize;
  font-size: 14px;
}
.border-r-custom{
  position: relative;
}
.border-r-custom::after{
  content: '';
    display: flex !important;
    position: absolute;
    width: 1px;
    height: 73px !important;
    background-color: lightgray;
    left: 0px;
    top: -20px;
}
tr:hover td.bg-white{
  background-color: #EFF1FD;
}